depth=0
init-author-name=Michael Schoonmaker
init-author-email=michael.r.schoonmaker@gmail.com
init-author-url=https://www.schoonology.com/
init-license=MIT
init-version=0.1.0
loglevel=http
prefix=/Users/schoon/.npm
progress=false
save=true
save-prefix=~
